.PropertyFilter {
    background-color: #f8f9fb;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 0 auto;

    h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 24px;
        color: #222;
    }

    &__controls {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        margin-bottom: 24px;

        &--double {
            grid-template-columns: 1fr 1fr;
            gap: 16px;
            align-items: center;
        }

        &--full {
            grid-template-columns: 1fr auto;
            gap: 16px;
            align-items: center;
            grid-column: span 3;
        }
    }

    &__control-group {
        display: flex;
        flex-direction: column;

        label {
            font-size: 16px;
            font-weight: 600;
            color: #444;
        }

        select {
            padding: 12px;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-size: 16px;
            transition:
                border-color 0.3s,
                box-shadow 0.3s;
            width: 100%;

            &:hover {
                border-color: #00a399;
            }

            &:focus {
                outline: none;
                border-color: #de0068;
                box-shadow: 0 0 0 3px rgba(222, 0, 104, 0.2);
            }
        }
    }

    &__button-container {
        display: flex;
        justify-content: flex-end; // Moves button to the right
        margin-top: 24px;
    }

    &__button {
        padding: 16px;
        background-color: #00deb6;
        color: #0e0e0e;
        border: none;
        border-radius: 8px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        transition:
            background-color 0.3s,
            transform 0.2s;
        text-align: center;

        &:hover {
            background-color: #00a399;
            transform: translateY(-2px);
        }

        &:active {
            transform: translateY(0);
        }
    }

    @media (max-width: 768px) {
        & {
            padding: 16px;
        }

        &__controls,
        &__controls--double,
        &__controls--full {
            grid-template-columns: 1fr !important;
            margin-bottom: 16px;
        }

        &__control-group,
        &__button-container,
        &__button,
        &__button-container {
            justify-content: center;
        }

        &__button {
            margin-top: 16px;
        }
    }
}
